<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale-width">
  <title>Your best source for information!</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
</head>

<body>
    <h1>Welcome to the PetFax App!</h1>
    {% for pet in pets %}
    <h2> {{ pet.pet_name }}</h2>
    <p> {{ pet.pet_fact }} </p> 
    <img src="{{ pet.pet_photo }}" alt=" Photo of out happy pet {{ pet.pet_name }}" />
    {% endfor %}
</body>

</html>